@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 14px;
    color: #222;
    background-color: #7f9191;
}

label {
    -webkit-perspective: 1000px;
    perspective: 1000px;
    margin-left:200px;
    margin-top: 90px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    display: block;
    width: 370px;
    height: 400px;
    /*position: absolute;*/
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    cursor: pointer;

    
}


.card {
    /*position: static;*/
    height: 100%;
    width: 100%;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: all 600ms;
    transition: all 600ms;
    z-index: 20;
    background: #e67e22
    /*background-image: url("background.jpg");*/


}

    .card div {
        position: absolute;
        height: 100%;
        width: 100%;
        background: #e67e22;
        /*background-image: url("background.jpg");*/
        text-align: center;
        color:#FFF;
        /*line-height: 200px;*/
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        border-radius: 2px;
    }

    .card .back {
        background: #d6d6d4;
        color: #000000;
        -webkit-transform: rotateX(180deg);
        transform: rotateX(180deg);
    }

label:hover .card {
    -webkit-transform: rotateX(20deg);
    transform: rotateX(20deg);
    box-shadow: 0 20px 20px rgba(50,50,50,.2);
}

input {
    display: none;
}

:checked + .card {
    transform: rotateX(180deg);
    -webkit-transform: rotateX(180deg);
}

label:hover :checked + .card {
    transform: rotateX(160deg);
    -webkit-transform: rotateX(160deg);
    box-shadow: 0 20px 20px rgba(255,255,255,.2);
}

.header {
  color: white;
  text-align: center;
  padding: 5px;
  margin-bottom: 150px;
  padding-top: 38px;
  width: 100%;
}

.content{
    font-weight: normal;
    font-style: oblique;
    font-size: 20px;
    /*position: fixed;
    top:5%;
    left: 5%;
    width:90%;
    height: 74%;
    overflow: scroll;*/
    /*overflow-y: scroll;*/
    
/*  bottom: 40%;
*/
    
    /*text-align: center*/
    
}
.subject{
    text-align: center
    font-weight: 600;
    font-style: italic;
    font-size: 40px;
    position: fixed;
    bottom: 40%;
    width:100%;
    

}

/*.title{
    display: flex;
    flex-direction: row;
}*/
p.cell{
    font-style: italic;
    font-size: 15px;
    position: fixed;
    bottom: 5px;
    width:100%;
    text-align: center
    
    /*position: static;
    bottom: 10px;*/
}

.title{
    text-align: center
    font-weight: bold;
    font-style: oblique;
    font-size: 50px;
    position: fixed;
    bottom: 60%;
    width:100%;

}

.name{
    text-align: center;
    font-weight: bold;
    font-style: oblique;
    font-size: 17px;
    position: fixed;
    bottom: 10%;
    width:100%;

}

.calendar{
    font-style: italic;
    font-size: 15px;
    position: fixed;
    bottom: 30px;
    width:100%;
    text-align: center;
}

h3{
    position: absolute;
    bottom: 50%;
    left: 40%;
    color: black;
    font-size: 50px;
    font-family: Tahoma, Geneva, sans-serif;
}

.position{
    height: 350px;
    /*background: #d6d6d4;*/
    
}



