<!DOCTYPE html>
<html>
    <head>
        <title> Add a recipe </title>
    </head>
    <body id="adding">
    <div id="adding_content">
        
        <h1 class= "font">Add your recipe:</h1>
        <br>

        <form action="/add_recipe" method="post">
         <h3 class="title" style="font-family:Comfortaa">Name:</h3>
        <input type="text" class="form-control" name="name" placeholder="Insert the name of the recipe" style="font-family:Comfortaa">
        <br>
        <h3 class="title" style="font-family:Comfortaa">This recipe is:</h3>
        <div id="keywords" style="font-family:Comfortaa">
        <input type="checkbox" name="keyword" value="Vegan">Vegan
        <input type="checkbox" name="keyword" value="Gluten-free">Gluten-free
        <input type="checkbox" name="keyword" value="Vegetarian">vegetarian
        <input type="checkbox" name="topic" value="keto">Keto
        <input type="checkbox" name="keyword" value="high-protein">High-Protein
       <input type="checkbox" name="keyword" value="healthy">Healthy
        </div>
        <br>

        <h3 class= "title" style="font-family:Comfortaa">Ingredients: </h3>
        <input type="text" name="ingredients" placeholder="Ingredients" style="font-family:Comfortaa"> 
        <br>
         <h3 class= "title" style="font-family:Comfortaa">Prep time:</h3>
        <input type="text" name="recipe_time" class="form-control" style="font-family:Comfortaa" placeholder="Insert the prep time of the recipe">
        <br>
        <h3 class= "title" style="font-family:Comfortaa">Describe/ add to your recipe:</h3>
        <input type="text" name="recipe_description" placeholder="Description" style="font-family:Comfortaa">
        <br>

        <br>
        <input type="submit" class="btn btn-light" value="Submit" style="font-family:Comfortaa">
        <br>

       


            

        </form>
        
    </div>
    </center>
    </body>
</html>
