<!DOCTYPE html>
<html>
    <head>
    <style>
        body{
  font-family: Tahoma, Geneva, sans-serif;
}

    </style>
        <title>Dessert</title>
    </head>

    <body id="interest_body">

        <h1 id= "as"> Healthy Dessert Ideas</h1>
        <br>
        
        


    {% for recipe in recipes %}
        
        <p> {{recipe.name}}.<br> Description:{{recipe.description}} <br> You will need: {{recipe.ingredients}}. <br> Prep time: {{recipe.time}}. 
    {%endfor%}
        </center>
    </body >
</html>
