<!DOCTYPE html>
<html>
<head>

  
	<title>cookket</title>
<style>
body {
    font-family: Arial, Helvetica,Caveant, sans-serif;
}
</style>
</head>

</script>
<body>

<center>
	<h1>Welcome to cookkette</h1>
	<p>Share and get recipes online</p>
</center>

     
   
  <div class=" col-sm-4" >
  <a href="vegan">vegan recipes</a></div>
  <div class=" col-sm-4">
  	<a href="quickmeals">Quick meals</a></div>
  <div class=" col-sm-4">
  	<a href="breakfast">Breakfast</a></div>
    <div class=" col-sm-4" >
  <a href="highprotein">High Protein</a></div>
  <div class=" col-sm-4">
    <a href="Healthy">Healthy</a></div>
  <div class=" col-sm-4">
    <a href="gluten-free">Gluten-free </a></div>
<!-- <div class="footer">
  <h2>Footer</h2>
</div> -->
 <script src="{{ url_for('static', filename='jquery.js') }}"></script>
       <script src="{{ url_for('static', filename='bootstrap.bundle.js') }}"></script>
   
</body>
</html>