<!DOCTYPE html>
<html>
<head>
	<title>cookket</title>
  <style>
    .e{color: green}
  </style>
<body>

<center>
 <div> 
	<h1>Welcome to cookkette</h1>
</div>
	<p>Share and get recipes online</p>
</center>

     
   
  <div class=" col-sm-4" >
  <a href="vegan">vegan recipes</a></div>
  <div class=" col-sm-4">
  	<a href="quicksnacks">Quick meals</a></div>
  <div class=" col-sm-4">
  	<a href="breakfast">Breakfast</a></div>
    <div class=" col-sm-4" >
  <a href="keto">Keto/ Low carbs</a></div>
  <div class=" col-sm-4">
    <a href="desserts">Healthy Dessert</a></div>
  <div class=" col-sm-4">
    <a href="glutenfree">Gluten-free </a></div>
<!-- <div class="footer">
  <h2>Footer</h2>
</div> -->

</body>
</html>